/*CSS Document */
body,div,p,ul,li,dl,dt,dd,h1,h2,h3,a{margin:0; padding:0;}
img{border:none;}
/*page CSS*/
html{background:url(../images/bg.gif) repeat-x;}
body
{
    background:url(../images/clouds.gif) repeat-x; 
    padding-top:45px;
   font-family:Verdana, Geneva, sans-serif;
}
span{color:red;
}

a
{
	text-decoration: none;
	color: #B94E0E;
}
a:hover 
{
	text-decoration: underline;
}



#header,#banner,#content,#footer
{
    width:1000px;  
    margin:0 auto;
} 

#header
{
    overflow:hidden;
}
#logo
{
    display:block; 
    width:220px; 
    height:54px; 
    float:left; 
    background:#991616;
}
#logo img{display:block;}

#nav{ float:left; background:#393838; list-style:none;width:780px; height:54px;}
#nav li{float:left;}
#nav li a{float:left;display:block;  line-height:54px;width:86px; height:54px;  text-align:center; font-size:12px; color:#ccc; text-decoration:none; }
#nav li a:hover{color:#fff;}
#nav li .navActive{ background:url(../images/navHoverBg.png) no-repeat; color:#fff;}


#banner
{
    width:1000px;
    height:292px;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
    background:url('../images/banner.jpg') no-repeat;
    position:relative;
}
#banner a
{
    display:block;
    width:110px;
    height:110px;
    position:absolute;
    right:0px;
    top:0px;
    background:url(../images/applyNormal.png) no-repeat;
}
#banner a:hover
{
    background:url(../images/applyHover.png) no-repeat;
}




#content
{
     overflow:hidden; 
     background:#DEF6FF; 
     font-size:12px; 
     line-height:24px;
}
#leftArticle,#rightInfo
{
     float:left;
     display:inline;
}
#leftArticle{width:680px;  }
#rightInfo{width:300px;margin-right:20px;}


#leftArticle h1
{
     background:url(../images/title2.jpg) no-repeat;
     border-radius:30px;
     height:32px;
     line-height:32px; 
     color:#FFF; 
     font-size:14px; 
     font-weight:bold; 
     text-indent:35px;
}
#leftArticle #prod
{
     margin:0 auto;width:500px;   
}
#leftArticle a 
{
  color: #c60;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
#leftArticle li 
{
  float: left;
  padding: 1em;
  list-style: none;
}
#leftArticle #posi
{
   padding-left:0;
}
#leftArticle img 
{
  display:block;
  clear: both;
}
#leftArticle #description
{
         font-family:"微软雅黑","黑体";
         font-size:14px;
         text-decoration:none;
         color:#ff0000;
         font-weight:bold; 
}


#rightInfo dl{margin-bottom:10px;}
#rightInfo dl dt
{
     background:url(../images/title.jpg) no-repeat;
     height:32px;
     line-height:32px; 
     color:#FFF; 
     font-size:14px; 
     font-weight:bold; 
     text-indent:20px;
     border-radius:30px;
}
#rightInfo dl dd
{
  height:24px; 
  line-height:24px;
  background:url(../images/dot.gif) no-repeat 7px 10px; 
  text-indent:16px;
}
#rightInfo dl dd a{color:#333; text-decoration:none;}
#rightInfo dl dd a:hover{color:#900; text-decoration:underline;}

.form-row{margin-top:5px}
.form-label
{
display:block;
float:left;
margin-bottom:5px;
}
ul{list-style:none;}
#test-error{color:#f00;}

#footer
{
  background:#393838; 
  height:52px;
  line-height:18px; 
  margin-top:10px; 
  padding-top:18px;
  text-align:center;
  color:#ccc;
  font-size:12px; 
}
#footer a{color:#ccc; text-decoration:none;}
#footer a:hover{text-decoration:underline;}
